
.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
    /*position: fixed;*/
    height: 14vh;
    margin: 0;
    /*box-shadow: 0 1px 7px #878787;*/
    width: 100%;
    background-color: #FFF;
}

/*.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
    position: fixed;
    height: 14vh;
    margin: 0;
    box-shadow: 0 1px 7px #878787;
    width: 100%;
    background-color: #FFF;
}*/

/*.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 10px;
    
}*/

.logo {
    margin-left: 5vw;
}
#sib-logo {
    margin-top: 5px;
    height: 80px;
}

.nav-elts {
    display: inline;
    display: flex;
    flex-direction: row;
    margin: 1vw;
    margin-top: 3vh;
    margin-right: 40px;
    justify-content: flex-end;
    align-items: center;
}

.menu-icon {
    align-self: center;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 20px;
    height: 100%;
}

.menu-word {
    font-family: 'Rubik', sans-serif;
}

.container {
    margin-left: 10px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    border-radius: 1px;
    width: 15px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4.2px, 2.9px) ;
    transform: rotate(-45deg) translate(-4.0px, 2.9px) ;
}

/* Fade out second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px) ;
    transform: rotate(45deg) translate(-5px, -5px) ;
}



.menu-word {
	font-family: 'Rubik', sans-serif;
}

.short-bar {
	fill: #557CF6;
	width: 12vw;
	height: 1.5vh;
}

.canvas {
	margin-top: -2vh;
	width: 12vw;
	height: 1.5vh;
}

.page-content {
	margin-left: 10vw;
	margin-right: 10vw;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.lg-quote {
	/*padding-top: 10vh;*/
	font-family: 'Rubik', sans-serif;
	font-size: 7vh;
}

.content-text {
	padding-top: 2vh;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

#join-txt-1 {
	padding-top: 5vh;
}

.action-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8vh;
	margin-left: 15vw;
	margin-right: 15vw;
}
.join-icon {
	width: 150px;
}

.donate {
	width: 150px;
}

.social-workers {
	text-align: center;
}
.social-workers img {
	margin: auto;
}
.icon-black {
	opacity: 1;
	position: absolute;
}

.icon-peach {
	opacity: 0;
	position: relative;
}

.join-icon-text {
	font-family: 'Rubik', sans-serif;
	text-align: center;
	padding-top: 10px;
}





@media screen and (max-width: 700px) {

	.page-content {
		align-items: flex-start;
	}
	.join-icon-text {
		margin-top: 0;
		padding-top: 3vh;
	}
	.action-icons {
		flex-direction: column;
		text-align: center;
	}

	.donate, .volunteer, .social-workers {
		margin: auto;
		padding-top: 5vh;
	}

	.canvas {
		margin-top: -3vh;
		width: 120px;
		height: 10px;
	}

	.short-bar {
		width: 120px;
		height: 10px;
	}
}