p {
	font-family: 'Roboto', sans-serif;
	margin: 15px 0 15px 0;
}

p.italic {
	padding-top: 10px;
	font-style: italic;
	width: 25vw;
}

span.blue-text {
	font-family: 'Rubik', sans-serif;
	color: #557CF6;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 45px;
	margin: 26px 0 15px 0;
}

h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 32px;
	margin: 10px 0 15px 0;
	color: #557CF6;
}

h3 {
	font-family: 'Rubik', sans-serif;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	max-height: 100%;
}

body {
	margin: 0 0 0 0;
}

.menu-bar {
	width: 100vw;
	height: 10vh;
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-end;
	padding-top: 40px;
}

.hamburger {
	padding: 0 15px 0 15px;
	width: 25px;
	height: 21px;
}

.hamburger:hover {
	cursor: pointer;
}

.blue-bar {
	width: 8rem;
	height: 8px;
	background-color: #557CF6;
	margin: 0px 0 25px 0;
}

.container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.content-container {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 80vh;
}

.left-section-events {
	width: 45vw;
	display: flex;
	flex-direction: column;
	margin: 0px 30px 30px 90px;
}

.right-section-events {
	width: 55vw;
	display: flex;
	align-self: flex-end;
}

.events-links {
	display: flex;
	margin: 40px 0 40px 0;
}

.button {
	background-color: white;
	border: solid;
	border-width: 2px;
	color: black;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;
	cursor: pointer;
	margin: 10px 30px 5px 0px;
}
.button:hover {
	background-color: #557CF6;
	border-color: #557CF6;
	color: white;
}

.volunteer-container {
	display: flex;
	flex-direction: column;
}

.volunteer-title {
	padding: 0 0 0 90px;
}

.volunteer-contact {
	margin: 30px 15vw 30px 15vw;
	display: inline;
	text
}

.right-section-volunteer {
	width: 55vw;
	display: flex;
	flex-direction: column;
	margin: 0 100px 0 100px;
}

.left-section-volunteer {
	width: 45vw;
	margin: 10px 0 0 90px;
}

.volunteer-links {
	display: flex;
	margin: 20px 0 20px 0;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}