p {
	font-family: 'Roboto', sans-serif;
	margin: 15px 0 15px 0;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 45px;
	margin: 26px 0 15px 0;
}

h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 32px;
	margin: 10px 0 15px 0;
	color: #FF9D76;
}

h3 {
	font-family: 'Rubik', sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

body {
	margin: 0 0 0 0;
}

.menu-bar {
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 13px;
}

.hamburger {
	padding: 1rem 1rem 1rem 1rem;
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger-line {
	width: 23px;
	height: 4px;
	background-color: black;
	margin: 3.5px 0;
	border-radius: 1.5px;
}

.orange-bar {
	width: 8rem;
	height: 8px;
	background-color: #FF9D76;
	margin: 0px 0 25px 0;
}

.container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	/*
	background: url("assets/Events.png") no-repeat center center fixed;
	background-size: cover;
	*/
}

.text-container {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 90vh;
}

.left-section {
	width: 45%;
	display: flex;
	flex-direction: column;
	margin: 0px 30px 30px 90px;
}

.right-section {
	width:55%;
	align-self: flex-end;
}

.events-links {
	display: flex;
	margin: 40px 0 40px 0;
}

.events-button {
	background-color: white;
	border: solid;
	border-width: 2px;
	color: black;
	padding: 15px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: 'Rubik', sans-serif;
	cursor: pointer;
	margin: 10px 30px 5px 0px;
}
.events-button:hover {
	background-color: #FF9D76;
	border-color: #FF9D76;
	color: white;
}