/*450px*/
.content {
	height:75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 100px;
}
.person {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bio-pic {
	width: 35%;
	height: 35%;
}
.bio-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 60px;
	width: 50%;
}
h1 {
	font-family: 'Rubik', sans-serif;
	color: #557CF6;
	font-size: 4em;
	margin: 0;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.75em;
	margin: 0;
}
p {
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
}
