/* EDIT DEFAULT NAVBAR */
.header-bar {
  background-color: transparent;
  box-shadow: none;
}
.menu-word {
  color: white;
}
.bar1, .bar2, .bar3 {
  background-color: white;
}

/* HOME PAGE STYLING */
.content{
    margin: 1em;
    font-family: 'Rubik';
    color: white;
    font-size: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
body {
    background-image: url('../assets/pictures/home-kids.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    background-color: white;
    border: solid;
    border-width: 0.1em;
    color: black;
    padding: .9em 1.25em;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    margin-top: 60px;
    box-sizing: border-box;
    transition: all 0.2s;
    width: 200px; /*need to define width for this to work with flex*/
}
.button:hover {
    background-color: #557CF6;
    border-color: #557CF6;
    color: white;
}
h1 {
    margin: 0;
    line-height: 90%;
}
