h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: black;
  margin-top: 0;
  margin-bottom: 15px;
}
#bar {
  width: 8rem;
  height: 8px;
  background-color: #557CF6;
  margin-bottom: 30px;
}
#container {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#info {
  width: 35%;
}
#info p {
  color: black;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}
.blue {
  color: #557CF6;
  font-weight: bold;
}
#form {
  width: 55%;
  font-family: 'Roboto', sans-serif;
}
.box h2 {
  color: #557CF6;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 0px;
  margin-bottom: 5px;
  padding-left: 5px;
  font-size: 1.25em;
}
input {
  background: transparent;
  border: none;
  border-bottom: 2px solid lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: black;
  box-sizing: border-box;
  padding: 5px;
  transition: 0.3s;
  width: 100%;
}
input:focus {
  outline: none;
  border-bottom: 2px solid black;
}
.box {
  padding-bottom: 15px;
  width: 100%;
}
#row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#row-1 div {
  width: 45%;
}
textarea {
  width: 100%;
  margin-top: 10px;
  resize: none;
  height: 200px;
  background: transparent;
  border: 2px solid lightgray;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: black;
  padding: 15px;
  box-sizing: border-box;
  transition: 0.3s;
}
textarea:focus {
  outline: none;
  border: 2px solid black;
}
button {
  background-color: white;
  border: solid;
  border-width: 0.1em;
  color: black;
  padding: 1em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  margin: 0 1em 0 0;
  box-sizing: border-box;
  transition: all 0.2s;
}
button:hover {
  background-color: #557CF6;
  border-color: #557CF6;
  color: white;
}
button:disabled{
  color: lightgray;
  border: 2px solid lightgray;
  pointer-events: none;
}
