.dual-image {
    width: 50vw;
    height: 90vh;
    background-image: url('../../assets/pictures/program1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sib-sun-2 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 50px 100px;
}

#sunday-summary {
	width: 55%;
}

p {
	font-family: 'Roboto';
	/*font-size: 18px;*/
	color: black;
}

#program-dates {
	width: 35%;
}

h2 {
	font-family: 'Rubik';
	font-size: 24px;
	color: #557CF6;
	letter-spacing: 0;
}
