html {
	font-family: 'Roboto';
}

h2 {
	font-family: 'Rubik';
	color: #557CF6;
	font-size: 22px;
}

p {
	font-size: 17px;
	margin-right: 50px;
}

span {
	font-family: 'Roboto';
	font-weight: bold;
	color: #557CF6;
}

.specific-events {
	margin-left: 10vw;
	margin-right: 10vw;
}

.border {
	background-color: #557CF6;
	height: 8px;
	width: 250px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.title {
	font-size: 50px;
	font-family: 'Rubik';
	padding-top: 70px;
	margin-bottom: 20px;
	margin-top: 0px;
}

.dates {
	display: inline-flex;
	padding-bottom: 10px;
}

.dates h2 {
	padding-left: 30px;
}

.buy {
	color: black;
	font-size: 20px;
	border: 2px solid black;
	padding: 20px;
	padding-right: 25px;
}

.content a {
	color: #557CF6;
	font-family: 'Roboto';
	font-weight: bold;
	text-decoration: none;
}

.content {
	padding-bottom: 30px;
}

.parking-donate {
	display: inline-flex;
}

.parking {
	width: 50%;
}

.donate {
	width: 50%;
}

.sponsors {
	padding-top: 30px;
	margin-bottom: 100px;
}
