#container {
  margin: 50px 100px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
  margin: 0;
}
#volunteer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.column {
  width: 45%;
}
.blue {
  font-family: 'Rubik', sans-serif;
  color: #557CF6;
}
#bar {
  margin: 1em 0 3em 0;
	background-color: #557CF6;
	height: 8px;
	width: 8em;
}
#volunteer-contact {
  margin: 0px 15%;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.button {
    background-color: white;
    border: solid;
    border-width: 0.1em;
    color: black;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    margin: 0 1em 0 0;
    box-sizing: border-box;
    transition: all 0.2s;
}
.button:hover {
    background-color: #557CF6;
    border-color: #557CF6;
    color: white;
}

#volunteer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
